# Public immutable tags are available on bitnamilegacy/minio.
# If you have Bitnami Secure Images access, you can override this to bitnami/minio.
MINIO_IMAGE=bitnamilegacy/minio:2025.7.23-debian-12-r5
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DATA_DIR=/Users/dingcm/Desktop/.docker/minio-bitnami/data
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me
MINIO_DEFAULT_BUCKETS=tmsm-dev
MINIO_BROWSER=on
