MINIO_IMAGE=quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
MINIO_MC_IMAGE=quay.io/minio/mc:RELEASE.2025-08-13T08-35-41Z
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DATA_DIR=/Users/dingcm/Desktop/.docker/minio/data
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me
MINIO_DEFAULT_BUCKET=tmsm-dev
